src/main/mule/papi-replayer-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="4f6d078a-bbc7-4de5-bf7b-ac560534bd4b" basePath="/api" >
		<http:request-connection host="address-rest-service.us-e2.cloudhub.io" />
	</http:request-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="cc1219ec-84fd-4c64-8b78-54f05b6046f9" >
	</file:config>
	<sub-flow name="writeMetricsToFile" doc:id="c7be4888-17b4-44ab-943a-2bf936f8aa33" >
		<logger level="INFO" doc:name="Logger" doc:id="40826c76-cab8-482d-b593-c2b17ed6c147" message="#['Milliseconds: ' ++ (vars.msAfterRequest - vars.msBeforeRequest)]" />
		<ee:transform doc:name="Transform Message" doc:id="d404b263-02a5-4e09-b64a-6f00a6a0a488" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
var period = (vars.msAfterRequest - vars.msBeforeRequest)
output application/json
---
{
	"runtimePrimarySystem": vars.runtimePrimarySystem,
	"runtimeSecondarySystem": period as Number {unit: "milliseconds"},
	"isEqual": vars.primarySystemOutputAsString == payload.message,
	"timestamp": now() >> "Europe/Berlin"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="setNewData" doc:id="f0bb67ca-5ff1-49e7-9fb4-3ae3a8121d57" variableName="NewData"/>
		<file:read doc:name="Read" doc:id="304d5021-7e0a-4a9f-878b-017b6d52dcfb" path="${mule.home}/apps/${app.name}/metricsMSSecondary.json"/>
		<ee:transform doc:name="Transform Message" doc:id="cc49b155-a35b-4ca0-94c5-c1c6e2777b7e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload << vars.NewData
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="8216962a-224c-4437-b0a1-105aa8213d4d" path="${mule.home}/apps/${app.name}/metricsMSSecondary.json" mode="APPEND">
		</file:write>
	</sub-flow>
	<sub-flow name="writeSecondaryToFile" doc:id="64f73bc6-42ed-406e-bde5-0c2dbe55a4a6" >
		<set-variable value="${mule.home}/apps/${app.name}/recordSecondary.csv" doc:name="setSecondaryRecordPath" doc:id="2b015989-18a2-4863-9c37-829a3551d396" variableName="setSecondaryRecordPath"/>
		<ee:transform doc:name="Transform Message" doc:id="8ca40eeb-9a72-4683-a417-b5dd6152ece5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
  "firstName": payload.firstName,
  "lastName": payload.lastName,
  "age": payload.age,
  "isStudent": payload.isStudent,
  "hobbies": payload.hobbies reduce(x, out) -> out ++ x,
  "address": payload.address.street ++', ' ++ payload.address.city ++', ' ++ payload.address.zipCode,
  "birthDate": payload.birthDate,
  "registrationDate": payload.registrationDate,
  "email": payload.email,
  "website": payload.website,
  "runtimePrimarySystem": payload.runtimePrimarySystem,
  "qpFirstName": vars.firstName,
  "qpLastName": vars.lastName,
  "qpSwitchToCloud": vars.switchToCloud,
  "timestamp": now() >> "Europe/Berlin"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="a66219cf-74cc-4b3a-b2e8-e0aefbcc2544" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv quoteValues=true, header=false
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="fd0b1129-4114-4790-a58e-3e15af2a9728" config-ref="File_Config" path="#[vars.setSecondaryRecordPath]" mode="APPEND"/>
	</sub-flow>
	<sub-flow name="writePrimaryToFileSubFlow" doc:id="6ea88f3b-ebcd-472a-9687-ed4601432fc2" >
		<set-variable value="${mule.home}/apps/${app.name}/recordPrimary.csv" doc:name="setPrimaryRecordPath" doc:id="87945201-f40a-407f-98a9-4016bb3bdaf7" variableName="setPrimaryRecordPath" />
		<ee:transform doc:name="Transform Message" doc:id="f4be3275-7b25-43c4-99f4-93b22153b631">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
  "firstName": payload.firstName,
  "lastName": payload.lastName,
  "age": payload.age,
  "isStudent": payload.isStudent,
  "hobbies": payload.hobbies reduce(x, out) -> out ++ x,
  "address": payload.address.street ++', ' ++ payload.address.city ++', ' ++ payload.address.zipCode,
  "birthDate": payload.birthDate,
  "registrationDate": payload.registrationDate,
  "email": payload.email,
  "website": payload.website,
  "runtimePrimarySystem": payload.runtimePrimarySystem,
  "qpFirstName": vars.firstName,
  "qpLastName": vars.lastName,
  "qpSwitchToCloud": vars.switchToCloud,
  "timestamp": now() >> "Europe/Berlin"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="cd52d2b1-85d7-44e5-99f3-d8cf2e60ea19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv quoteValues=true, header=false
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="1b521441-d80f-4617-bc5e-deab9523f545" path="#[vars.setPrimaryRecordPath]" mode="APPEND" config-ref="File_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="f9030cec-4849-4063-8803-708440182386" message="${mule.home}\apps\${app.name}"/>
	</sub-flow>
	<flow name="postReplayer" doc:id="d3a00f09-5245-48b2-8d2d-20bc527dbc7b" >
		<logger level="INFO" doc:name="Logger" doc:id="81ec6ce4-87a4-4b4f-9341-3c87f5060a57" message="Log payload in replayer: #[payload]"/>
		<set-variable value="#[message.attributes.queryParams.firstName]" doc:name="SetFirstName" doc:id="d355e287-5ab2-4548-93ae-688c582ef184" variableName="firstName"/>
		<set-variable value="#[message.attributes.queryParams.lastName]" doc:name="SetLastName" doc:id="4a1da8d4-8aa6-43d2-a820-8c10ba04c0d1" variableName="lastName"/>
		<set-variable value="#[message.attributes.queryParams.switchToCloud as Boolean]" doc:name="SetSwitchToCloud" doc:id="00159083-6736-48f6-91aa-c758a36716d2" variableName="switchToCloud"/>
		<ee:transform doc:name="Transform Message" doc:id="f2261000-4718-4c6c-8bf9-6c72a13c8e8b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
  "firstName": payload.firstName,
  "lastName": payload.lastName,
  "age": payload.age,
  "isStudent": payload.isStudent,
  "hobbies": payload.hobbies,
  "address": payload.address,
  "birthDate": payload.birthDate,
  "registrationDate": payload.registrationDate,
  "email": payload.email,
  "website": payload.website,
  "runtimePrimarySystem": payload.runtimePrimarySystem,
	message: ((((((((((payload.firstName
default "") ++ payload.lastName) ++ payload.age as String) ++ payload.isStudent as String ++ payload.hobbies[0]) ++ payload.address.street) ++ payload.address.city) ++ payload.address.zipCode) ++ payload.birthDate) ++ payload.registrationDate) ++ payload.email) ++ payload.website
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.runtimePrimarySystem]" doc:name="SetRuntimePrimarySystem" doc:id="8ef4911b-4d55-423d-a2fb-4e5b7a29ed27" variableName="runtimePrimarySystem" />
		<set-variable value="#[payload.message]" doc:name="SetPrimarySystemOutputAsString" doc:id="f02bcffb-752f-456e-aa94-8b449cc4f4df" variableName="primarySystemOutputAsString"/>
		<logger level="INFO" doc:name="Logger" doc:id="7ce7a264-4c39-4965-9ba4-c3ced665292e" message="#['primary system string' ++ vars.primarySystemOutputAsString]"/>
		<flow-ref doc:name="Flow Reference" doc:id="b68ef953-9618-4f72-8f64-a7d2ac5b34ab" name="writePrimaryToFileSubFlow" />
		<choice doc:name="Choice" doc:id="6e8d2d9a-e436-40de-b4df-a3779e852b51" >
			<when expression="#[vars.switchToCloud == true]">
				<set-variable value="#[now()]" doc:name="msBeforeRequest" doc:id="215fc3b8-dafb-4470-8113-f8b6924148a5" variableName="msBeforeRequest"/>
				<http:request method="GET" doc:name="Request Replay Mainframe" doc:id="c288dbff-530d-4e7a-a3c9-0fb8db4de1ec" config-ref="HTTP_Request_configuration" path="/real_address">
					<http:query-params ><![CDATA[#[output application/java
---
{
	firstName : vars.firstName,
	lastName : vars.lastName
}]]]></http:query-params>
				</http:request>
				<set-variable value="#[now()]" doc:name="msAfterRequest" doc:id="54208d61-5762-4044-be0f-d8ecd14ee76c" variableName="msAfterRequest"/>
				<logger level="INFO" doc:name="Logger" doc:id="13d9c9da-3a34-41dc-9cbf-bf0e4aa1778a" message="Check mainframe: #[payload]" />
			</when>
			<otherwise >
				<set-variable value="#[now()]" doc:name="msBeforeRequest" doc:id="5c47e663-7dcf-4893-aa15-6bbf32b11068" variableName="msBeforeRequest"/>
				<http:request method="GET" doc:name="RequestReplayCloud" doc:id="bc2fb0de-e383-4806-833e-7c9e6dde94cf" config-ref="HTTP_Request_configuration" path="/address">
					<http:query-params ><![CDATA[#[output application/java
---
{
	firstName : vars.firstName,
	lastName : vars.lastName
}]]]></http:query-params>
				</http:request>
				<set-variable value="#[now()]" doc:name="msAfterRequest" doc:id="f08d4b23-c391-4b61-87ee-621281829eb8" variableName="msAfterRequest"/>
				<logger level="INFO" doc:name="Logger" doc:id="87d650b2-ca71-4b9d-b896-e4ac42a6c4b2" message="Check cloud:  #[payload]" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="226129f7-6eef-4cc5-8ca8-c28c3214839a" message="#[vars.msAfterRequest - vars.msBeforeRequest]"/>
		<ee:transform doc:name="Transform Message" doc:id="ff18d1e4-b014-4f1d-b4cd-479c30a726ef">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
  "firstName": payload.firstName,
  "lastName": payload.lastName,
  "age": payload.age,
  "isStudent": payload.isStudent,
  "hobbies": payload.hobbies,
  "address": payload.address,
  "birthDate": payload.birthDate,
  "registrationDate": payload.registrationDate,
  "email": payload.email,
  "website": payload.website,
  "runtimePrimarySystem": payload.runtimePrimarySystem,
  "runtimeSecodary": vars.msAfterRequest - vars.msBeforeRequest,
	message: ((((((((((payload.firstName
default "") ++ payload.lastName) ++ payload.age as String) ++ payload.isStudent as String ++ payload.hobbies[0]) ++ payload.address.street) ++ payload.address.city) ++ payload.address.zipCode) ++ payload.birthDate) ++ payload.registrationDate) ++ payload.email) ++ payload.website
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.message]" doc:name="SetSecondarySystemOutputAsString" doc:id="14455838-f449-40b5-9ae4-141c99333f8c" variableName="secondarySystemOutputAsString"/>
		<flow-ref doc:name="Flow Reference" doc:id="a1410c0b-5c70-4dc9-a844-34b205d55acd" name="writeSecondaryToFile" />
		<choice doc:name="Choice" doc:id="2647bced-583d-445f-90d3-24cd2947ab92" >
			<when expression="#[vars.primarySystemOutputAsString == payload.message]">
				<logger level="INFO" doc:name="Logger" doc:id="40b3a789-1974-4a38-b28a-e4f430ec51e6" message="ist gleich!"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="d4a38e0b-7598-4ed7-ace6-c651a85863d4" message="ist nicht gleich!"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Flow Reference" doc:id="28040384-dd12-49c0-8456-a569365627b2" name="writeMetricsToFile" />
		<ee:transform doc:name="Transform Message" doc:id="c0f287dc-aca4-4f89-82d9-6e1e1d53e544" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": 'replayer finished'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getReplayFlow" doc:id="e853653f-035b-491f-96b7-4aa26bc7c9e8" >
		<file:read doc:name="Read" doc:id="12974fe5-b2b1-46b4-84b7-8ee834a95f3a" path="${mule.home}/apps/${app.name}/metricsMSSecondary.json"/>
		<logger level="INFO" doc:name="Logger" doc:id="3df5a780-f318-4589-a69a-4e8bab1ac1ec" message="#[payload]"/>
	</flow>
</mule>
